<app-navbar />

<app-page-banner />

<!-- <div class="pb-120 border-bottom"></div> -->

<!-- Contact Info -->
<div class="contact-info-area bg-f3f3f3 ptb-120">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-8 col-md-12 px-0">
                <div class="contact-info-content">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="box">
                                    <h3 class="fw-semibold">Dhaka Office</h3>
                                    <ul class="p-0 m-0 list-unstyled">
                                        <li class="position-relative">
                                            <img
                                                src="images/icons/office.svg"
                                                alt="office"
                                            />
                                            Profile House, Gulshan - 1, Dhaka
                                        </li>
                                        <li class="position-relative">
                                            <img
                                                src="images/icons/email2.svg"
                                                alt="office"
                                            />
                                            <a
                                                href="mailto:infoelearning@email.com"
                                                >elearn&#64;email.com</a
                                            >
                                            <br />
                                            <a
                                                href="mailto:newyorkoff1@email.com"
                                                >elearn&#64;email.com</a
                                            >
                                        </li>
                                        <li class="position-relative">
                                            <img
                                                src="images/icons/bv.svg"
                                                alt="office"
                                            />
                                            <a
                                                href="tel:
                                            +880 XXXX XXX XXX"
                                            >
                                                +880 XXXX XXX XXX</a
                                            >
                                            <br />
                                            <a
                                                href="tel:
                                            +880 XXXX XXX XXX"
                                            >
                                                +880 XXXX XXX XXX</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="box">
                                    <h3 class="fw-semibold">
                                        Singapore Office
                                    </h3>
                                    <ul class="p-0 m-0 list-unstyled">
                                        <li class="position-relative">
                                            <img
                                                src="images/icons/office.svg"
                                                alt="office"
                                            />
                                            111 North Bridge Road, #20-05
                                            Pennisula Plaza, Singapore
                                        </li>
                                        <li class="position-relative">
                                            <img
                                                src="images/icons/email2.svg"
                                                alt="office"
                                            />
                                            <a
                                                href="mailto:infoelearning@email.com"
                                                >infoelearning&#64;gmail.com</a
                                            >
                                            <br />
                                            <a
                                                href="mailto:infoelearning@email.com"
                                                >newyorkoff1&#64;email.com</a
                                            >
                                        </li>
                                        <li class="position-relative">
                                            <img
                                                src="images/icons/bv.svg"
                                                alt="office"
                                            />
                                            <a
                                                href="tel:
                                            +880 XXXX XXX XXX"
                                            >
                                                +880 XXXX XXX XXX</a
                                            >
                                            <br />
                                            <a
                                                href="tel:
                                            +880 XXXX XXX XXX"
                                            >
                                                +880 XXXX XXX XXX</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 px-0">
                <div class="contact-info-image" style="border-radius: 15px">
                    <img
                        src="images/collection/contact/contact-img.webp"
                        alt="contact-info-image"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Info -->

<app-contact />

<app-footer />

<app-back-to-top />
