<!-- Default -->
<div
    class="blog-area pt-120 pb-95"
    [ngClass]="{
        'd-none': router.url === '/index-2' || router.url === '/index-3'
    }"
>
    <div class="container">
        <div class="section-title position-relative">
            <h2 class="mb-0 fw-semibold text-uppercase">Recent blog & news</h2>
            <a routerLink="/blog" class="default-btn"> Explore All Blog </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <img
                            src="images/staticImage/blog2.jpg"
                            alt="blog-image"
                        />
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul
                                class="d-flex align-items-center p-0 mb-0 list-unstyled"
                            >
                                <li class="d-inline-block position-relative">
                                    25 <br />Jun
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog"> Admin </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments (05)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                The Art of Perfecting Sounds in a New Language
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <img
                            src="images/staticImage/blog1.jpg"
                            alt="blog-image"
                        />
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul
                                class="d-flex align-items-center p-0 mb-0 list-unstyled"
                            >
                                <li class="d-inline-block position-relative">
                                    25 <br />Jun
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog"> Admin </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments (05)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                How Exploring Traditions Enhances Learning
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <img
                            src="images/staticImage/blog3.jpg"
                            alt="blog-image"
                        />
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul
                                class="d-flex align-items-center p-0 mb-0 list-unstyled"
                            >
                                <li class="d-inline-block position-relative">
                                    25 <br />Jun
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog"> Admin </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments (05)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                The Cognitive Advantages of Learning Multiple
                                Languages
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
