<!--begin::Header-->
<!--begin::Container-->
<div class="container-fluid">
    <!--begin::Start Navbar Links-->
    <ul class="navbar-nav gap-2">
        <li class="nav-item">
            <a class="nav-link" data-lte-toggle="sidebar" role="button">
                <i class="bi bi-list"></i>
            </a>
        </li>

        <!-- Logout Button -->
        <li class="nav-item">
            <button (click)="logout()" class="btn btn-danger btn-sm text-white">
                <i class="bi bi-box-arrow-left"></i>
                <span class="d-none d-md-inline"> Logout</span>
            </button>
        </li>

        <!-- Change Password Button -->
        <li class="nav-item">
            <button
                [routerLink]="['/change-password']"
                routerLinkActive="router-link-active"
                class="btn btn-primary btn-sm text-white"
            >
                <i class="bi bi-key"></i>
                <span class="d-none d-md-inline"> Change Password</span>
            </button>
        </li>

        <!-- Change Password Button -->
        <li class="nav-item">
            <a
                [routerLink]="['/']"
                target="_blank"
                class="btn btn-primary btn-sm text-white"
            >
                <i class="bi bi-globe"></i>
                <span class="d-none d-md-inline"> View Website</span>
            </a>
        </li>
    </ul>

    <!--end::Start Navbar Links-->
</div>
<!--end::Container-->
<!--end::Header-->
