<app-navbar></app-navbar>
<!-- Login -->
<div class="login-area bg-fbfbfb ptb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="login-image text-center">
                    <img
                        src="images/collection/forgotpassword.jpg"
                        alt="login-image"
                        style="border-radius: 15px"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="login-content">
                    <ul class="links p-0 list-unstyled">
                        <li class="d-inline-block">
                            <a
                                routerLink="/login"
                                class="d-block position-relative active"
                            >
                                Forgot Password
                            </a>
                        </li>
                    </ul>
                    <h3 class="fw-medium">Enter your Email</h3>
                    <form
                        (ngSubmit)="onSubmit()"
                        #loginForm="ngForm"
                        class="auth-form"
                    >
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control shadow-none"
                                [(ngModel)]="obj.email"
                                placeholder="Email"
                                name="email"
                                required
                            />
                        </div>

                        <!-- <button type="submit" class="default-btn d-block w-100">
                            Log in
                        </button> -->
                        <button
                            type="submit"
                            class="default-btn d-block w-100"
                            [disabled]="isLoading"
                        >
                            <span
                                *ngIf="isLoading"
                                class="spinner-border spinner-border-sm me-1"
                            ></span>
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login -->

<app-footer></app-footer>

<app-back-to-top></app-back-to-top>
