// user-role.component.scss
.card {
    margin: 0 auto;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.form-check {
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

.form-check-input {
    margin-left: -1.5rem;
}
