<app-navbar />

<!-- <app-page-banner /> -->

<div class="pb-120"></div>

<!-- Team -->
<div class="team-area bg-f3f3f3 pt-120 pb-95">
    <div class="instructor-container">
        <div class="instructor-card" *ngFor="let team of instructors">
            <img
                class="instructor-img"
                [src]="
                    getImagePath(
                        team.profilePicture || 'images/teams/team1.jpg'
                    )
                "
                alt="team-image"
            />
            <div class="instructor-info">
                <h3 class="instructor-name">
                    <a [routerLink]="['/team-details', team.id]">
                        {{ team.fullName }}
                    </a>
                </h3>
                <span class="instructor-role">Instructor</span>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->

<!-- <div class="pb-120 pt-40 text-center">
    <div class="container">
        <a routerLink="/contact" class="default-btn"> Join With Us </a>
    </div>
</div> -->

<app-footer />

<app-back-to-top />
